{% extends "base.html" %}
{% block content %}
<h2>Freya</h2>

<div style="display: flex; gap: 20px; align-items: flex-start;">
    
    <div style="flex: 1;">
        <!-- ABOUT ME SECTION -->
        <h3>About Me</h3>
        <p>
            I am a Electrical Engineering (Computing) student at the University of Iowa, in addition to pursuing minors in Computer Science and Music. 
            I have worked at Collins Aerospace in Digital Technology as an Intern the last 3 summers, in a variety of management positions, most recently as a Scrum Master for a number of teams, a role that I have continued part-time into my senior year. 
            My interests are broad, including computer networking, communication systems, cybersecurity,  embedded and firmware development, and aerospace systems. I hope after graduation I get to continue pursuing my interests, learn new skills, 
            and continue being a people leader, either in a formal role or by conduct.
        </p>
        <p>
            Throughout my college experience, I've gotten the opportunity to work on and complete projects in many spaces, from embedded systems design, to object-oriented software development, to a research paper on AI in unmanned aircraft control, 
            which should hopefully be completed by the end of this year, 2025. I've really enjoyed working on projects across disciplines as well, like creating a custom effects board for a guitar through my class on creating new instruments. 
            I am excited to continue exploring new technologies, new spaces, and new ways to apply what I've learned. Please feel free to contact me via the message box below, or via email at freya.hofferber@gmail.com.
        </p>

        <h3>Send a message to Freya</h3>
        <form method="POST">
            <textarea name="message" rows="4" required></textarea><br>
            <button type="submit">Send</button>
        </form>
    </div>

    <div>
        <img src="{{ url_for('static', filename='images/Freya_Headshot.jpg') }}"
             alt="User 3"
             class="profile-img">
    </div>

</div>

